@import "tailwindcss";

:root {
  --background: #F9F8F4;
  --foreground: #121212;
  --accent-purple: #D0C3FC;
  --accent-purple-hover: #BEAEFA;
  --accent-green: #B4F7C3;
  --color-border: #E5E5E5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-purple: var(--accent-purple);
  --color-accent-purple-hover: var(--accent-purple-hover);
  --color-accent-green: var(--accent-green);
  --color-border-light: var(--color-border);
  --font-sans: 'Inter', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
